*{
    text-align: center;
    background-color: #16404D;
    color: #D8C4B6;
}
body{
    margin: 0%;
    padding: 0%;
}


table{
    margin: auto;
}
footer{
    background-color: black;
    display: none;
}
#par{
    background-color: black;
    font-size: 0.7rem;
    padding-top: 5px;
}
#para{
    background-color: black;
    font-size: 0.7rem;
    font-style: italic;
}
