*{
    text-align: center;
    background-color: #16404D;
    color: #D8C4B6;
}
body{
    margin: 0%;
    padding: 0%;
}


table{
    margin: auto;
}
footer{
    background-color: black;
    display: none;
}
#par{
    background-color: black;
    font-size: 0.7rem;
    padding-top: 5px;
}
#para{
    background-color: black;
    font-size: 0.6rem;
    font-style: italic;
}
.out{
    display: flex; 
    flex-direction: column;

}
.in{
   
    padding: 10px ;
   
}
.shadow{
    box-shadow: 2px 2px 8px black;
    border-radius: 20px;
    margin:10px;
   
}
#display{
    padding: 20px;
    display: none;
}
#display1{
    padding: 20px;
    display: none;
}
#display2{
    padding: 20px;
    display: none;
}
.shadow1{
    padding: 20px;
    box-shadow: 2px 2px 8px black;
    border-radius: 20px;
    margin: 10px;
}
@media (min-width:810px) {
    .out{
        width: 810px;
        
    }
    body{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}
